<div class="input-group py-1">
  <input type="text" class="form-control" placeholder="Search for snippets">
  <div class="input-group-append">
    <button class="btn btn-dark" type="button">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>