<div class="col-12 col-md-8 offset-md-2 text-center mt-5">
    <div class="row mb-5 col-md-10 text-center mx-auto">
      <span class="display-1 col-4 fa fa-dice-four"></span>
      <span class="display-1 col-4 fa fa-frown-open"></span>
      <span class="display-1 col-4 fa fa-dice-four"></span>
    </div>
    
    <h1>404 (Not Found)</h1>
    <h5 class="mt-2">Oops! The page you where looking seems to be non existent.</h5>
  </div>